<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.strawberry.dao.BookMapper">

    <insert id="addBook" parameterType="Books">
        insert into ssmbuild.books (bookName, bookCounts, detail) values (#{bookName}, #{bookCounts}, #{detail});
    </insert>

    <delete id="deleteBookById" parameterType="int">
        delete from ssmbuild.books where bookID = #{bookID};
    </delete>

    <update id="updateBook" parameterType="Books">
        update ssmbuild.books set bookName=#{bookName}, bookCounts=#{bookCounts}, detail=#{detail} where bookID=#{bookID};
    </update>

    <select id="queryBookById" resultMap="BookMap">
        select * from ssmbuild.books where bookID = #{BookID};
    </select>

    <select id="queryAllBooks" resultMap="BookMap">
        select * from ssmbuild.books;
    </select>

    <resultMap id="BookMap" type="com.strawberry.pojo.Books">
        <id property="bookID" column="bookID"/>
        <result property="book_name" column="bookName"/>
        <result property="book_counts" column="bookCounts"/>
        <result property="detail" column="detail"/>
    </resultMap>

</mapper>