<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mysqlImpl" class="com.strawberry.dao.UserDaoMySQLImpl"/>
    <bean id="oracleImpl" class="com.strawberry.dao.UserDaoOracleImpl"/>
    <bean id="userDaoImpl" class="com.strawberry.dao.UserDaoImpl"/>

    <!--
        ref : 引用 Spring 容器中创建好的对象
        value : 具体的值，基本数据类型!
    -->
    <bean id="userServiceImpl" class="com.strawberry.service.UserServiceImpl">
        <property name="userDao" ref="userDaoImpl"/>
    </bean>

    <bean id="hello" class="com.strawberry.pojo.Hello">
        <constructor-arg name="name" value="草莓汁"/>
    </bean>

    <alias name="hello" alias="helloNew"/>

</beans>